.container-result {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.results-point {
  margin-right: 4%;
  text-align: center;
}

.result-espacio {
  margin-top: 51px;
  margin-left: -28px;
}

@media (max-width: 600px) {
  .results-point {
    margin-right: 9%;
    text-align: center;
  }

  .container-result {
    font-size: 11px;
  }
  .result-espacio {
    margin-top: 41px;
    margin-left: -27px;
  }
}
