.container-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
  background-color: #f8f8f8;
  margin-bottom: 20px;
  width: 60%;
  align-content: center;
}
@media (max-width: 600px) {
  .container-result {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .container-result {
    width: 59%;
  }
}
.result-h1 {
  display: flex;
}
h4 {
  margin-left: 10px;
}
.result-points {
  display: flex;
  flex-direction: row;
  margin-top: -23px;
}
.results-point1 {
  order: 1;
}
.results-point2 {
  order: 3;
}

.result-espacio {
  order: 2;
  margin-left: 10px;
  margin-right: 10px;
}
