.container-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
  background-color: #00000026;
  margin-bottom: 20px;
}
.result-h1 {
  display: flex;
}
h4 {
  margin-left: 10px;
}
.result-points {
  display: flex;
  flex-direction: row;
  margin-top: -23px;
}
.results-point1 {
  order: 1;
}
.results-point2 {
  order: 3;
}

.result-espacio {
  order: 2;
  margin-left: 10px;
  margin-right: 10px;
}

/*@media (max-width: 600px) {
  .results-point {
    margin-right: 9%;
    text-align: center;
  }

  .container-result {
    font-size: 11px;
  }
  .result-espacio {
    margin-top: 41px;
    margin-left: -27px;
  }
}*/
