.option-button {
  width: 139px;
  height: 137px;
  background-color: white;
  border-radius: 15px;
  margin: 0 0.5em;
  border: 2px solid gray;
}

.option-button-img {
  width: 96%;
}

.option-button-P {
  border: 4px solid #37514c;
}

.option-button-S {
  border: 4px solid #535353;
}

.option-button-R {
  border: 4px solid #63434c;
}

@media (max-width: 600px) {
  .option-button {
    width: 82px;
    height: 82px;
  }
}
