.title {
  color: black;
  text-align: center;
  font-size: 35px;
}

.title-rock {
  color: #98747d;
}

.title-paper {
  color: #688580;
}

.title-scissors {
  color: #8b8b8b;
}

@media (max-width: 600px) {
  .title {
    font-size: 22px;
  }
}
