.container-timeline {
  display: flex;
  justify-content: center;
}
.timeline-line-linear {
  width: 50%;
  border-top: solid 2px#00000042;
  margin-top: 45px;
  margin-right: 10px;
  margin-left: 10px;
}
