.imagen-paper {
  width: 100px;
  align-content: center;
  cursor: pointer;
}

.options-div {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 22px;
  max-height: 138px;
  min-height: 138px;
}
